{% macro renden_field(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <li style="font-size: medium">{{ error }}</li>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro messages(get_flashed_messages) %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">×</a>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}